
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div ng-controller="EmployeeController">
    <ol class="breadcrumb breadcrumb-quirk">
        <li><i class="fa fa-check-square mr5"></i> Employee</li>
    </ol>
    <hr />

    <!--Form-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">Form</h4>
                    <hr>
                </div>
                <div class="panel-body">
                    <form name="myform" id="myform" action="#" class="form-horizontal" novalidate>

                        <div class="form-group" ng-class="{ 'has-error' : myform.EmpName.$invalid && !myform.EmpName.$pristine }">
                            <label class="col-sm-3 control-label">Name*</label>
                            <div class="col-sm-8">
                                <input type="text" name="EmpName" ng-model="EmpName" id="EmpName" required placeholder="Name" class="form-control" />
                                <p ng-show="myform.EmpName.$invalid && !myform.EmpName.$pristine" class="help-block">Required!</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Address</label>
                            <div class="col-sm-8">
                                <textarea name="EmpAddress" ng-model="EmpAddress" id="EmpAddress" placeholder="Address" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : myform.EmpEmail.$invalid && !myform.EmpEmail.$pristine }">
                            <label class="col-sm-3 control-label">Email*</label>
                            <div class="col-sm-8">
                                <input type="text" name="EmpEmail" ng-model="EmpEmail" ng-pattern="emailFormat" id="EmpEmail" required placeholder="Email" class="form-control" />
                                <span class="error help-block" ng-show="myform.EmpEmail.$error.required && !myform.EmpEmail.$pristine">Required!</span>
                                <span class="error help-block" ng-show="myform.EmpEmail.$error.pattern && !myform.EmpEmail.$pristine">Not valid email!</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">D.O.B.</label>
                            <div class="col-sm-8">
                                <input type="text" name="Birthdate | dateFilter" ng-model="Birthdate" datepicker id="Birthdate"  placeholder="Birthdate" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Gender</label>
                            <div class="col-sm-8">
                                <input type="radio" name="EmpGender" ng-model="EmpGender" value="Male" ng-checked="true" id="Male" />Male
                                <input type="radio" name="EmpGender" ng-model="EmpGender" value="Female" id="Female" />Female
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Designation</label>
                            <div class="col-sm-8">
                                <select ng-options="rl.DesignationId as rl.DesName for rl in DesignationList" ng-model="EmpDesignation" name="EmpDesignation" id="EmpDesignation" class="form-control" required>
                                    <option value="">--Select--</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Hobby</label>
                            <div class="col-sm-8">
                                <label ng-repeat="hobby in HbList">
                                    <input type="checkbox" ng-model="hobby.Selelcted" checklist-model="emp.hobby" checklist-value="hobby.HobbyId"> {{hobby.HName}} &nbsp;&nbsp;
                                </label>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-8">
                                <input type="button" id="submit" value="Save" ng-disabled="myform.$invalid" ng-click="Save();" class="btn btn-success" />
                                <input type="button" id="Reset" value="Reset" ng-click="Reset();clearAll();" class="btn btn-default" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--List-->
    <div class="row">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title">List</h4>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table datatable="ng" dt-column-defs="dtColumnDefs" dt-options="dtOptions" class="table table-bordered table-striped-col dataTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Birthdate</th>
                                    <th>Designation</th>
                                    <th>Hobby</th>
                                    <th class="center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="emp in EmployeeList">
                                    <td>{{ emp.EmpName }}</td>
                                    <td>{{ emp.EmpAddress }}</td>
                                    <td>{{ emp.EmpEmail }}</td>
                                    <td>{{ emp.EmpGender }}</td>
                                    <td>{{emp.Birthdate| dateFilter | date:'MM/dd/yyyy'}}</td>
                                    <td>{{ emp.DesName }}</td>
                                    <td>{{ emp.HName }}</td>
                                    <td class="center">
                                        <span ng-click="Edit(emp);scrollTop();" class="btn btn-primary btn-sm">Edit</span>
                                        <span ng-click="Delete(emp)" class="btn btn-danger btn-sm">Delete</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>